.contactContainer {
    background-color: rgba($color: #000000, $alpha: 0.7);
    height: 85vh;
    width: 80%;
    padding-top: 150px;
    margin: auto;
    overflow: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    h4 {
        text-align: center;
        color: white;
        a {
            color: white;
        }
    }

    a:hover {
        color: #d4af37;
        text-decoration: none;
    }
  }
  
  .contactContainer::-webkit-scrollbar {
    display: none;
  }
  
  .titleContainer {
    top: 0;
  }
  
  strong {
    margin-left: 1em;
    color: #d4af37;
  }
  
  // @media only screen and (max-width: 1024px) {
  // }
  
//   @media only screen and (max-width: 992px) {
//   }
  
  // @media only screen and (max-width: 767px) {
  // }
  
//   @media only screen and (max-width: 699px) {
//   }
  
//   @media only screen and (min-width: 700px) {
//   }
  