.color-nav {
  background-color: black;
  -webkit-box-shadow: 0px 1px 1px #d4af37;
  -moz-box-shadow: 0px 1px 1px #d4af37;
  box-shadow: 0px 1px 1px #d4af37;
}

.options {
  .option {
    color: #d4af37;
    font-size: large;
    text-decoration: none;
  }

  .option:hover {
    font-weight: bold;
    border-bottom: 1px solid #d4af37;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.social-container {
  width: 80%;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.fa-spotify {
  color: #1db954;
  text-decoration: none;
}

.fa-apple {
  color: #a3aaae;
  text-decoration: none;
}

.fa-soundcloud {
  color: #fe5000;
  text-decoration: none;
}

.fa-bandcamp {
  color: #629aa9;
  text-decoration: none;
}

.fa-instagram {
  color: #5851db;
  text-decoration: none;
}

.fa-twitter {
  color: #1da1f2;
  text-decoration: none;
}

.fa-facebook {
  color: #4267b2;
  text-decoration: none;
}

.fa-twitch {
  color: #6441a4;
  text-decoration: none;
}

.fa-youtube {
  color: #ff0000;
  text-decoration: none;
}

.fa-discord {
  color: #7289da;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .mobileSocials {
    display: none;
  }
}
