.color-nav {
  background-color: black;
  -webkit-box-shadow: 0px 1px 1px #d4af37;
  -moz-box-shadow: 0px 1px 1px #d4af37;
  box-shadow: 0px 1px 1px #d4af37;
}

.options {
  .option {
    color: #d4af37;
    font-size: large;
    text-decoration: none;
  }

  .option:hover {
    font-weight: bold;
    border-bottom: 1px solid #d4af37;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
}

.navbar-toggler {
  padding: 0.5rem !important;
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span {
  display: block !important;
  background-color: #d4af37 !important;
  height: 2px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  right: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  right: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.social-container {
  width: 80%;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.fa-spotify {
  color: #1db954;
  text-decoration: none;
}

.fa-apple {
  color: #a3aaae;
  text-decoration: none;
}

.fa-soundcloud {
  color: #fe5000;
  text-decoration: none;
}

.fa-bandcamp {
  color: #629aa9;
  text-decoration: none;
}

.fa-instagram {
  color: #5851db;
  text-decoration: none;
}

.fa-twitter {
  color: #1da1f2;
  text-decoration: none;
}

.fa-facebook {
  color: #4267b2;
  text-decoration: none;
}

.fa-twitch {
  color: #6441a4;
  text-decoration: none;
}

.fa-youtube {
  color: #ff0000;
  text-decoration: none;
}

.fa-discord {
  color: #7289da;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .mobileSocials {
    display: none;
  }
}
