.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0px 20px;

  .social-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
  }

  li {
    display: inline;
  }

  li a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .fa-spotify {
    color: #1db954;
    text-decoration: none;
  }

  .fa-spotify:hover {
    color: #ffffff;
    border-bottom: 2px solid #1db954;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-apple {
    color: #a3aaae;
    text-decoration: none;
  }

  .fa-apple:hover {
    color: #f9f6ef;
    border-bottom: 2px solid #a3aaae;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-soundcloud {
    color: #fe5000;
    text-decoration: none;
  }

  .fa-soundcloud:hover {
    color: #ffffff;
    border-bottom: 2px solid #fe5000;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-bandcamp {
    color: #629aa9;
    text-decoration: none;
  }

  .fa-bandcamp:hover {
    color: #ffffff;
    border-bottom: 2px solid #629aa9;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-instagram {
    color: #5851db;
    text-decoration: none;
  }

  .fa-instagram:hover {
    color: #c13584;
    border-bottom: 2px solid #f56040;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-twitter {
    color: #1da1f2;
    text-decoration: none;
  }

  .fa-twitter:hover {
    color: #f5f8fa;
    border-bottom: 2px solid #1da1f2;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-facebook {
    color: #4267b2;
    text-decoration: none;
  }

  .fa-facebook:hover {
    color: #ffffff;
    border-bottom: 2px solid #4267b2;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-twitch {
    color: #6441a4;
    text-decoration: none;
  }

  .fa-twitch:hover {
    color: #ffffff;
    border-bottom: 2px solid #6441a4;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-youtube {
    color: #ff0000;
    text-decoration: none;
  }

  .fa-youtube:hover {
    color: #282828;
    border-bottom: 2px solid #ff0000;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-discord {
    color: #7289da;
    text-decoration: none;
  }

  .fa-discord:hover {
    color: #ffffff;
    border-bottom: 2px solid #7289da;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
}

// @media only screen and (max-width: 1024px) {
//   .social-container li a {
//     padding: 0;
//   }
// }

@media only screen and (max-width: 991px) {
  .social-container li {
    display: none !important;
  }

  .social-container {
    display: none !important;
  }

  .inputGroup {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
