.homeContainer {
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 85vh;
  width: 80%;
  padding-top: 100px;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
  height: 75%;
  width: 75%;
}

.trackInfo {
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 700px) {
  .homeContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .homeContainer {
    width: 95%;
    padding-top: 150px;
  }

  .mainPageCoverArt {
    height: 60%;
  }

  .mainPageCoverArt {
    width: 100%;
  }
}
