.videoContainer {
    background-color: rgba($color: #000000, $alpha: 0.7);
    height: 85vh;
    width: 80%;
    padding-top: 50px;
    margin: auto;
    overflow: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .videoContainer::-webkit-scrollbar {
    display: none;
  }
  
  .titleContainer {
    top: 0;
  }
  
  strong {
    margin-left: 1em;
    color: #d4af37;
  }
  
  hr {
    height: 1px;
    background-color: #d4af37;
    border: none;
  }
  
  .videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  // @media only screen and (max-width: 1024px) {
  // }
  
  @media only screen and (max-width: 992px) {
    .video {
      margin: auto;
    }
  }
  
  // @media only screen and (max-width: 767px) {
  // }
  
  @media only screen and (max-width: 699px) {
    .videoContainer {
      padding-top: 130px;
      width: 100%;
    }
  
    .video {
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 700px) {
    .videoContainer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      overflow: scroll;
    }
  }
  